body {
    margin: 10;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0909;
    flex-direction: column;
}



.photo-container {
    width: 100%; /* Ensure the container takes up the full width */
    max-width: 650px; /* Set a maximum width if needed */
    
    margin-bottom: 15px; /* Optional: Add margin between the photos */
}

img {
    width: 100%; /* Make the image fill the container */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
